@page
@model PlanejaiFront.Pages.Index
@{
    ViewData["Title"] = "Planejaí - Início";
}
<head>
    <title>@ViewData["Title"]</title>
</head>
<div>
    <div class="jumbotron text-center">
        <h1 class="display-4">Bem-vindo ao Planejaí</h1>
        <p class="lead">O melhor lugar para criar e organizar seus eventos!</p>
        <hr class="my-4">
        <p>Aqui você pode criar eventos personalizados, gerenciar convidados e muito mais.</p>
        <a asp-page="/Register/Index" class="btn btn-primary btn-lg">Cadastre-se</a>
    </div>
</div>